MNEMONIC=test test test test test test test test test test test test
REPORT_GAS=true
INFURA_API_KEY=XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
ETHERSCAN_API_KEY=YYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYY
REACT_APP_CHRL2_ADDRESS=
REACT_APP_POSTCHAIN_URL=
REACT_APP_POSTCHAIN_BRID=
